/*
=========================
Import styling
=========================
*/

@import './partials/normalize';

/*
=========================
General styling
=========================
*/

body {
  overflow-x: hidden;

  background-color: black;
  font-size: 16px;

  margin: 0;
}

ul {
  list-style: none;
}

/*
=========================
header styling
=========================
*/

header {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr;
  justify-items: center;

  padding: 40px 0;
  height: 85vh;

  transition: height 1s;
}

.nyt-logo {
  align-self: end;
  
  height: 100%;
  max-height: 400px;
  width: 100%;
  max-width: 350px;
}

.select-sections {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  
  h3 {
    color: white;
    font-size: 1.75em;
  } 
}

.select-category {
  margin: 15px 0;
  padding: 2px;
  width: 150px;

  font-size: 1.3em;
}

.shrink-header {
  height: 500px;
}

@media screen and (min-width: 600px) {
  header {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .nyt-logo {
    align-self: center;
    justify-self: right;
    
    padding: 20px 0; 
  }
  
  .select-sections {
    align-items: start;
    justify-self: left;
  }

  .shrink-header {
    height: 250px;
  }
}

@media screen and (min-width: 1240px) {
  header {
    grid-template-columns: 1fr 1fr 2fr;
  }

  .nyt-logo {
    justify-self: center;
  }

  .select-sections {
    margin-left: 50px;
  }
}

/*
=========================
Main styling
=========================
*/

.loading-gif {
  display: block;
  width: 50%;
  max-width: 400px;
  margin: 0 auto;
}

:root {
  --wrapperWidth: 100vw;
  --numberOfCells: 1;

  --cellWidth: calc(var(--wrapperWidth) / var(--numberOfCells));
  --cellHeight: var(--cellWidth);
}

main {
  margin: 0;
  
  ul {
    display: grid;
    grid-template-columns: repeat(var(--numberOfCells), 1fr);
    grid-auto-rows: var(--rowHeight);
    
    width: var(--wrapperWidth);
    padding: 0;

    li {
      width: var(--cellWidth);
      height: var(--cellHeight);
      background-size: auto 100%;
      background-position: center;
      
      

      a {
        display: block;
        position: relative;

        width: 100%;
        height: 100%;

        color: white;

        &:hover > p {
          height: 50%;
          
          color: white;
          opacity: 1;
        }

        p {
          position: absolute;
          bottom: 0;

          margin: 0;
          padding: 7.5%;
          width: 100%;
          height: 0;
          
          background-color: rgba(0, 0, 0, 0.5);
          opacity: 0;
          text-align: center;

          transition: height 1s, opacity 1s;
        }
      }
    }
  }
}

@keyframes show-hide-abstract {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media screen and (min-width: 600px) {
  :root {
    --numberOfCells: 2;
    --cellHeight: calc(var(--cellWidth) * 1.25);
  }
}

@media screen and (min-width: 900px) {
  :root {
    --numberOfCells: 3;
    --cellHeight: calc(var(--cellWidth) * 1.5);
  }
}

@media screen and (min-width: 1240px) {
  :root {
    --numberOfCells: 4;
    --cellHeight: calc(var(--cellWidth) * 1.5);
  }
}

/*
=========================
footer styling
=========================
*/

footer {
  margin: 25px auto 50px;
  width: 95%;
  max-width: 400px;

  color: #c2c2c2;
  font-size: 1.5em;
  text-align: center;
}

@media screen and (min-width: 1240px) {
  footer {
    margin-left: 0;
  }
}

